DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"
PORT=3000
SEED_ADMIN_PASSWORD="ganti-dengan-password-kuat"
SEED_KAPRODI_PASSWORD="ganti-dengan-password-kuat"
JWT_ACCESS_SECRET="ganti-dengan-string-acak-panjang"
JWT_ACCESS_EXPIRES="15m"
JWT_REFRESH_SECRET="ganti-dengan-string-acak-panjang-berbeda"
JWT_REFRESH_EXPIRES="7d"
